{%  include "user_form/base.html" %}
{% block head %}Reset Password {% endblock %}
{% block content %}
    <form method="post" action="{% url 'reset' %}">
        {% csrf_token %}
    	<input type="password" name="password2" placeholder="Password" required="required" />
        <input type="password" name="password1" placeholder="Password Again" required="required" />
        <button type="submit" class="btn btn-primary btn-block" value="{{ next }}" name="next">Reset .</button>
    </form>

{% endblock %}